<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Widgets Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/widgets.js"></script>
  </head>

  <body>
    <h1>Widgets! </h1>

    <div>
      <button id="users">Show Widgets</button>
      <button id="clear">Clear</button>
    </div>

    <ul id="list"></ul>

  </body>

</html>