@import "./globals";

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: $secondary;
  color: $light;
}

Nav {
  display: none;
  background-color: $secondary;
  color: $dark;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 2em;
  }
}

header {
 text-align: center;
 h1 {
   font-size: 3em;
 }
}
