body {
  //display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  background: #E5E5E5;
  // linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}

Nav {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 2em;
  }
}

header {
 text-align: center;
 h1 {
   font-size: 3em;
 }
}
