@import "./globals";

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: $secondary;
  color: $light;
}

Nav {
  display: flex;
  background-color: $secondary;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin: 0 auto;
  width: 90vw;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  button {
    font-size: medium;
    padding-top: none;
    margin-top: none;
    border: none;
    background: $secondary;
    color: $light;
    &:hover {
      color: $dark
    }
  }
}

header {
 text-align: center;
 h1 {
   font-size: 3em;
 }
}

@media only screen and (min-width: 1024px) {
  Nav {
    width: 920px;
    padding-top: 1rem;
  }
}
