@import "./globals";

#new-task-background {
  background-color: $light;
}

#new-task {
  width: 90vw;
  margin: 0 auto;
  padding: 0.2em;
  border: solid $dark;
  border-radius: 4px;
  display: none;
  background-color: $light;
  box-shadow: 0px 0px 10px $dark;
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    textarea {
      background: transparent;
      border: none;
      resize: none;
      height: 1.5em;
      text-align: left;
      padding-left: 1rem;
      width:70vw;
    }
  }
  form:nth-child(2) {
    width:5%;
  }
  form:nth-child(3) {
    width:5%;
  }
}

#new-task.active {
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  #new-task {
    width: 920px;
    form {
      font-size: 1.3em;
      textarea {
        width: 720px;
      }
    }
  }
}
