#new-task {
  width: 90vw;
  margin: 0 auto;
  padding: 0.2em;
  border: solid black;
  border-radius: 4px;
  display: none;
  background-color: #E5E5E5;
  box-shadow: 0px 0px 5px black;
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    textarea {
      background: transparent;
      border: none;
      resize: none;
      width:65vw;
    }
  }
  form:nth-child(2) {
    width:10%;
  }
}

#new-task.active {
  display: inline-block;
}
