@import "./globals";

#background-header {
  background-color: $secondary;
  position: sticky;
  top: 0;
  padding: 0.4em;
}
#tasks-header {
  background-color: $secondary;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 4.5em;
  margin: 0 auto 1.5em;
  padding: 0.4em;
  color: $light;
  font-weight: 700;
  border-bottom: solid $light;
  form {
    display: flex;
    gap: 1em;
  }
  label {
    cursor: pointer;
    background-color: $secondary;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: all ease-in-out 210ms;
    &:hover {
      opacity: 0.7;
    }
  }
  input {
    display: none;
  }
  input:checked~label {
    background-color: $primary;
    &:hover {
      opacity: 1;
    }
  }

  button {
    margin-right: 0.5em;
    background: none;
    color: $light;
    cursor: pointer;
    border: none;
    font-size: 2em;
    border-radius: 0.5em;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 210ms;
    &:hover {
      transform: scale(1.5);
    }
  }

}

#tasks-container {
  display: flex;
  flex-direction: column;
  background-color: $light;
  .task {
    color: $dark;
    border-bottom: solid $dark;
    width: 90vw;
    margin: 0.5em auto;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .edit-features {
    cursor: pointer;
    display: inline-block;
  }

  .task div {
    text-align:center;
    select {
      display: none;
    }
    input[type=text]  {
      display: none;
    }
    .save {
      display: none;
      text-align: center;
    }
    .task-body {
      cursor: pointer;
    }
    .category-id {
      cursor: pointer;
    }
  }

  div.edit-mode {
    .save {
      display: inline-block;
    }
    .task-body {
      display: none;
    }
    .category-id {
      display: none;
    }
    input[type=text] {
      display: inline-block;
    }
    select {
      display: inline-block;
    }
  }

  div:first-child {
    width:15%;
  }
  div:nth-child(2) {
    width: 45%;
    font-size: 1.3em;
  }
  div:nth-child(3) {
    width: 20%;
    opacity: 0.7;
  }
  div:nth-child(4) {
    width: 10%;
  }
  div:nth-child(5) {
    width: 10%;
  }
}

.completed {
  text-decoration: line-through;
  // opacity: 0.5;
}
