#tasks-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
  padding: 0.2em;
  background: black;
  color: white;
  div:first-child {
    width:15%;
  }
  div:nth-child(2) {
    width:45%;
  }
  div:nth-child(3) {
    width:20%;
  }
  div:nth-child(4) {
    width: 10%;
  }
  div:nth-child(5) {
    width: 10%;
  }
}

#tasks-container {
  display: flex;
  flex-direction: column;
  .task {
    border: solid black;
    width: 90vw;
    margin: 0.5em auto;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .completed {
      text-decoration: line-through;
    }
  }
  .edit-features {
    cursor: pointer;
    display: inline-block;
  }
  div:first-child {
    width:15%;
  }
  div:nth-child(2) {
    width: 45%;
  }
  div:nth-child(3) {
    width: 20%;
  }
  div:nth-child(4) {
    width: 10%;
  }
  div:nth-child(5) {
    width: 10%;
  }
}
