#tasks-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  padding: 0.2em;
  background: black;
  color: white;
  form {
    display: flex;
    gap: 1em;
  }
  label {
    cursor: pointer;
    background-color: green;
    padding: 1em 2em;
    border: 1px solid grey;
    &:hover {
      background-color: lightgreen;
    }
  }
  input {
    display: none;
  }
  input:checked~label {
    background-color: purple;
    &:hover {
      background-color: plum;
    }
  }

}

#tasks-container {
  display: flex;
  flex-direction: column;
  .task {
    border: solid black;
    width: 90vw;
    margin: 0.5em auto;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .edit-features {
    cursor: pointer;
    display: inline-block;
  }

  .task div select {
    display: none;
  }

  .task div input[type=text]  {
    display: none;
  }
  .task.edit-mode select {
    display: block;
  }
  .task.edit-mode input[type=text] {
    display: block;
  }
  .task.edit-mode .task-body {
    display: none;
  }
  .task.edit-mode .category-id {
    display: none;
  }

  div:first-child {
    width:15%;
  }
  div:nth-child(2) {
    width: 45%;
  }
  div:nth-child(3) {
    width: 20%;
  }
  div:nth-child(4) {
    width: 10%;
  }
  div:nth-child(5) {
    width: 10%;
  }
}

.completed {
  text-decoration: line-through;
}
